<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Alejandra Lemus</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{{ url_for('static', filename='common-css/bootstrap.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='common-css/ionicons.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='common-css/fluidbox.min.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='01-cv-portfolio/css/styles.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='01-cv-portfolio/css/responsive.css') }}"  rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<h5>{{data.Ale.direccion.0}}</h5>
								<h6>{{data.Ale.direccion.1}}</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>{{data.Ale.numero.0}}</h5>
								<h6>{{data.Ale.numero.1}}</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>{{data.Ale.email.0}}</h5>
								<h6>{{data.Ale.email.1}}</h6>

							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{{ url_for('static', filename='images/profile-1-250x250.jpeg') }}" alt=""></div>
						<h2><b>{{data.Ale.nombre}}</b></h2>
						<ul class="information margin-tb-30">
							<li><b>EDAD : </b>{{data.Ale.edad}}</li>
							<li><b>NACIONALIDAD : </b>{{data.Ale.nationalidad}}</li>
							<li><b>ESTADO CIVIL : </b>{{data.Ale.estadocivil}}</li>
						</ul>
						<ul class="social-icons">
							<li><a href="https://www.pinterest.es/alejdelcomp/"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="https://www.linkedin.com/in/alejandra-lemus-3a9435167"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="https://www.instagram.com/alej.lemus/?hl=es"><i class="ion-social-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/alejandra.lemusdelcompare?ref=bookmarks"><i class="ion-social-facebook"></i></a></li>
							<li><a href="https://twitter.com/alealelem"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="portfolio-section section">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="portfolioFilter clearfix margin-b-80">
							<a href="info" data-filter="*" ><b>INFORMACIÓN</b></a>
							<a href="formacion" data-filter=".web-design"><b>FORMACIÓN ACADÉMICA</b></a>
							<a href="experiencia" data-filter=".branding" class="current"><b>EXPERIENCIA LABORAL</b></a>
						</div><!-- portfolioFilter -->
					</div><!-- col-sm-8 -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- portfolio-section -->
	
			
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Work Experience</b></h3>
						<h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
				
					<div class="experience margin-b-50">
						<h4><b>JUNIOR PROJECT MANAGER</b></h4>
						<h5 class="font-yellow"><b>DESIGN STUDIO</b></h5>
						<h6 class="margin-t-10">MARCH 2015 - PRESENT</h6>
						<p class="font-semi-white margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li>Duis non volutpat arcu, eu mollis tellus.</li>
							<li>Quis consequat nulla effi citur at.</li>
							<li>Sed finibus aliquam neque sit.</li>
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>WEB MASTER/WEB DEVELOPER</b></h4>
						<h5 class="font-yellow"><b>DESIGN & WEB STUDIO</b></h5>
						<h6 class="margin-t-10">APRIL 2014 - FEBRUARY 2015</h6>
						<p class="font-semi-white margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li>Duis non volutpat arcu, eu mollis tellus.</li>
							<li>Quis consequat nulla effi citur at.</li>
							<li>Sed finibus aliquam neque sit.</li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	
	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>


	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="{{ url_for('static', filename='common-js/jquery-3.2.1.min.js') }}"></script>

	<script src="{{ url_for('static', filename='common-js/tether.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/bootstrap.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/isotope.pkgd.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/jquery.waypoints.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/progressbar.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/jquery.fluidbox.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/scripts.js') }}"></script>
	
</body>
</html>