<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Alejandra Lemus</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{{ url_for('static', filename='common-css/bootstrap.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='common-css/ionicons.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='common-css/fluidbox.min.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='01-cv-portfolio/css/styles.css') }}"  rel="stylesheet">
	
	<link href="{{ url_for('static', filename='01-cv-portfolio/css/responsive.css') }}"  rel="stylesheet">
	
</head>
<body>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{{ url_for('static', filename='images/profile-1-250x250.jpeg') }}" alt=""></div>
						<h2><b>{{data.Ale.nombre}}</b></h2>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="portfolio-section section">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="portfolioFilter clearfix margin-b-80">
							<a href="info" data-filter="*" ><b>INFORMACIÓN</b></a>
							<a href="formacion" data-filter=".web-design" class="current"><b>FORMACIÓN ACADÉMICA</b></a>
							<a href="experiencia" data-filter=".branding"><b>EXPERIENCIA LABORAL</b></a>
						</div><!-- portfolioFilter -->
					</div><!-- col-sm-8 -->
				</div><!-- row -->
			</div><!-- container -->
		</section><!-- portfolio-section -->
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Educación</b></h3>
						<h6 class="font-lite-black"><b>FORMACIÓN ACADÉMICA</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>{{data.Formación.Colegio.nombrecarrera}}</b></h4>
							<h5 class="font-yellow"><b>{{data.Formación.Colegio.nombre}}</b></h5>
							<h6 class="font-lite-black margin-t-10">{{data.Formación.Colegio.periodo}}</h6>
							<p class="margin-tb-30">{{data.Formación.Colegio.nivel}}</p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>{{data.Formación.Universidad.nombrecarrera}}</b></h4>
							<h5 class="font-yellow"><b>{{data.Formación.Universidad.nombre}}</b></h5>
							<h6 class="font-lite-black margin-t-10">{{data.Formación.Universidad.periodo}}</h6>
							<p class="margin-tb-30">{{data.Formación.Universidad.nivel}} </p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- about-section -->
	
	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>


	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="{{ url_for('static', filename='common-js/jquery-3.2.1.min.js') }}"></script>

	<script src="{{ url_for('static', filename='common-js/tether.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/bootstrap.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/isotope.pkgd.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/jquery.waypoints.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/progressbar.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/jquery.fluidbox.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='common-js/scripts.js') }}"></script>
	
</body>
</html>